<ng-container  *ngIf="loginVerify; then loginTemplate; else logoutTemplate"></ng-container>
<ng-template #loginTemplate>
    <button (click)="logout()">LogOut</button><br>
    <select [(ngModel)]="toUser">
        <option *ngFor="let item of usersOnline" value="{{item.id}}">{{item.username}}</option>
    </select>
    <button (click)="sendMessage()">Saludar!</button>
</ng-template>
<ng-template #logoutTemplate>
    <input type="text" placeholder="username" [(ngModel)]="username" >
    <button (click)="login()">Login</button>
</ng-template>
